@charset "UFT-8";

@media screen and (min-width: 769px){
    html {
        box-sizing: border-box;
    }
    body{
        overflow-x: hidden;
        background-image: linear-gradient(25deg, #2a355c, #446572, #599887, #6bcf9c);
        margin: 0;
        padding: 0;
    }
    h1{
        margin: 150px;
        color: white;
        font-family: 'Mongolian Baiti',sans-serif;
        font-weight: 300;
        font-size: 3em;
    }
    h2{
        color: white;
    }
    h3{
        color: white;
        margin: 50px;
        padding-top: 100px;
    }
    p{
        color: white;
    }
    
    /*--------index------
    */
    .hero{
        text-align: center;
    }
    .index{
        margin: 10%;
        display: flex;
        justify-content: space-between;
    }
    .index li{
        position: relative;
        list-style: none;
        width: 31%;
        box-sizing: border-box;
    }
    .index li::before{
        content: "";
        display: block;
        padding-top: 100%;
        overflow: hidden;
    }
    .index li img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
        overflow: hidden;
        filter: brightness(80%) grayscale(100%);
    }
    .index li img:hover{
        filter: grayscale(0) brightness(100%);
    }
    .index li p{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        color: white;
        font-family: 'Mongolian Baiti',sans-serif;
        font-size: 2em;
    }
    .profile{
        text-align: center;
        margin-bottom: 100px;
    }
    .iconbox{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .iconbox li{
        list-style: none;
        margin: 10px;
    }
    .iconbox img{
        width: 50px;
    }
}


/*--------------------------------------------------------------------------------------
*/
@media screen and (max-width: 768px) and (min-width: 481px){
    html {
        box-sizing: border-box;
    }
    body{
        overflow-x: hidden;
        background-image: linear-gradient(25deg, #2a355c, #446572, #599887, #6bcf9c);
        margin: 0;
        padding: 0;
    }
    h1{
        margin: 150px;
        color: white;
        font-family: 'Mongolian Baiti',sans-serif;
        font-weight: 300;
        font-size: 3em;
    }
    h2{
        color: white;
    }
    h3{
        color: white;
        margin: 50px;
        padding-top: 100px;
    }
    p{
        color: white;
    }
    
    /*--------index------
    */
    .hero{
        text-align: center;
    }
    .index{
        margin: 10%;
        display: flex;
        justify-content: space-between;
    }
    .index li{
        position: relative;
        list-style: none;
        width: 31%;
        box-sizing: border-box;
    }
    .index li::before{
        content: "";
        display: block;
        padding-top: 100%;
        overflow: hidden;
    }
    .index li img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
        overflow: hidden;
        filter: brightness(80%) grayscale(100%);
    }
    .index li img:hover{
        filter: grayscale(0) brightness(100%);
    }
    .index li p{
        top: 30%;
        left: 50%;
        transform: translate(-50%,0);
        position: absolute;
        color: white;
        font-family: 'Mongolian Baiti',sans-serif;
        font-size: 1.5em;
    }
    .profile{
        text-align: center;
        margin-bottom: 100px;
    }
    .iconbox{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .iconbox li{
        list-style: none;
        margin: 10px;
    }
    .iconbox img{
        width: 50px;
    }
}



/*---------------------------------------------------------------------------------------
*/


@media screen and (max-width:480px)
{html {
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-image: linear-gradient(25deg, #2a355c, #446572, #599887, #6bcf9c);
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin: 100px 5%;
    color: white;
    font-family: 'Mongolian Baiti',sans-serif;
    font-weight: 300;
}
h2{
    color: white;
}
h3{
    color: white;
    padding-top: 50px;
}
p{
    color: white;
    font-size: 0.8em;
}

/*--------index------
*/
.hero{
    text-align: center;
}
.index{
    margin: 10%;
}
.index li{
    position: relative;
    list-style: none;
    width: 80%;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.index li::before{
    content: "";
    display: block;
    padding-top: 100%;
    overflow: hidden;
}
.index li img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
    overflow: hidden;
    filter: brightness(80%) grayscale(100%);
}
.index li img:hover{
    filter: grayscale(0) brightness(100%);
}
.index li p{
    top: 20%;
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
    color: white;
    font-family: 'Mongolian Baiti',sans-serif;
    font-size: 2em;
}
.profile{
    margin: 100px 5%;
}
.profile p{
    font-size: 16px;
}
.iconbox{
    display: flex;
    justify-content: center;
    text-align: center;
}
.iconbox li{
    list-style: none;
    margin: 10px;
}
.iconbox img{
    width: 50px;
}


}
